@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html * {
        font-feature-settings: "cv02","cv03","cv04","cv11";
    }

    body {
        @apply font-inter min-h-screen text-ao-mid-blue-700 dark:text-slate-400 bg-ao-mid-blue-200 dark:bg-slate-900 transition-colors antialiased;
    }

    @font-face {
        font-family: "Inter";
        src: url("@/assets/fonts/Inter.var.woff2") format("woff2 supports variations"),
             url("@/assets/fonts/Inter.var.woff2") format("woff2-variations");
        font-weight: 100 900;
    }

    /* -------------------------------------------------------------------------- */
    /*                                System styles                               */
    /* -------------------------------------------------------------------------- */

    .system-content {
        @apply w-full md:ml-72 pt-6 md:pt-0;
    }

    /* -------------------------------------------------------------------------- */
    /*                    Control Center - Heading & Container                    */
    /* -------------------------------------------------------------------------- */

    .cc__h1 {
        @apply text-ao-mid-blue-700 dark:text-slate-200 text-xl md:text-2xl font-extrabold tracking-tight;
    }
    .cc__h2 {
        @apply text-ao-mid-blue-700 dark:text-slate-200 text-lg md:text-xl font-bold tracking-tight;
    }
    .cc__h3 {
        @apply text-ao-mid-blue-700 dark:text-slate-300 md:text-lg font-bold tracking-tight;
    }
    .cc__h4 {
        @apply text-ao-mid-blue-700 dark:text-slate-300 text-base font-bold tracking-tight;
    }
    .cc__h6 {
        @apply text-ao-mid-blue-500 dark:text-slate-300 text-sm font-medium;
    }
    .cc__card {
        @apply bg-white dark:bg-slate-800 shadow rounded-lg mb-6 md:mb-10 overflow-hidden;
    }
    .cc__card-heading {
        @apply flex items-center justify-between p-3 md:px-5 md:py-4 border-b border-ao-mid-blue-200 dark:border-slate-700;
    }
    .cc__card-heading-aside {
        @apply grid-flow-col grid gap-2;
    }
    .cc__card-heading-aside a {
        @apply inline-flex space-x-2 items-center text-ao-mid-blue-600 text-xs lg:text-sm font-semibold hover:text-ao-dark-blue-600 dark:text-slate-400 dark:hover:text-slate-300 transition-colors;
    }
    .cc__card-no-border {
        @apply border-0 pb-0;
    }
    .cc__card-heading h2,
    .cc__card-heading h6 {
        @apply leading-tight;
    }
    .cc__card-heading h6 {
        @apply dark:text-slate-400;
    }
    .cc__card-content {
        @apply text-xs md:text-sm text-ao-mid-blue-600 dark:text-slate-400 p-3 md:p-5;
    }
    .cc__heading-line {
        @apply relative w-full mb-4;
    }
    .cc__heading-line .cc__h3 {
        @apply inline bg-ao-mid-blue-200 dark:bg-slate-900  pr-3 md:pr-4;
    }
    .cc__heading-line:after {
        @apply h-[1px] absolute top-1/2 right-0 w-full bg-ao-mid-blue-300 dark:bg-slate-700 content-[''] -z-10;
    }
    
    
}