@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html * {
        font-feature-settings: "cv02","cv03","cv04","cv11";
    }

    body {
        @apply font-inter min-h-screen text-ao-mid-blue-700 dark:text-slate-400 bg-ao-mid-blue-200 dark:bg-slate-900 transition-colors antialiased;
    }

    @font-face {
        font-family: "Inter";
        src: url("@/assets/fonts/Inter.var.woff2") format("woff2 supports variations"),
             url("@/assets/fonts/Inter.var.woff2") format("woff2-variations");
        font-weight: 100 900;
    }

    /* -------------------------------------------------------------------------- */
    /*                                System styles                               */
    /* -------------------------------------------------------------------------- */

    .system-content {
        @apply w-full md:ml-72 pt-6 md:pt-0;
    }
    .system-heading {
        @apply text-ao-mid-blue-700 dark:text-slate-200 leading-tight tracking-tight font-extrabold text-2xl mb-1 ;
    }
    .system-heading:not(:first-of-type) {
        @apply border-t border-ao-mid-blue-300 dark:border-slate-800 pt-8;
    }
    .system-content > p {
        @apply text-ao-mid-blue-600 dark:text-slate-400 mb-5;
    }
    .system-content > p a {
        @apply font-bold underline decoration-2 underline-offset-4 text-ao-mid-blue-700 dark:text-slate-200 transition-all;
    }
    .system-content > p a:hover {
        @apply text-ao-light-blue;
    }
    .system-panel {
        @apply bg-white dark:bg-slate-800 shadow-md rounded-lg mb-12 p-4 sm:p-6 lg:p-8;
    }
    .system-description {
        @apply text-ao-mid-blue-600 dark:text-slate-400 border-b border-dotted border-ao-mid-blue-400 dark:border-slate-500 text-xs md:text-sm mt-4 mb-6 pb-4;
    }



    /* -------------------------------------------------------------------------- */
    /*                    Control Center - Heading & Container                    */
    /* -------------------------------------------------------------------------- */

    .cc__h1-freestanding {
        @apply text-ao-mid-blue-700 dark:text-slate-200 text-2xl md:text-3xl font-extrabold tracking-tight;
    }
    .cc__h1 {
        @apply text-ao-mid-blue-700 dark:text-slate-200 text-xl md:text-2xl font-extrabold tracking-tight;
    }
    .cc__h2 {
        @apply text-ao-mid-blue-700 dark:text-slate-200 text-lg md:text-xl font-bold tracking-tight;
    }
    .cc__h3 {
        @apply text-ao-mid-blue-700 dark:text-slate-200 md:text-lg font-bold tracking-tight;
    }
    .cc__h6 {
        @apply text-ao-mid-blue-500 dark:text-slate-400 text-xs md:text-sm font-medium;
    }
    .cc__card {
        @apply bg-white dark:bg-slate-800 shadow-md rounded-lg mb-6 md:mb-10;
    }
    .cc__card-heading {
        @apply flex items-center justify-between p-3 md:p-5 border-b border-ao-mid-blue-200 dark:border-slate-900;
    }
    .cc__card-no-border {
        @apply border-0 pb-0;
    }
    .cc__card-heading h2,
    .cc__card-heading h6 {
        @apply leading-tight;
    }
    .cc__card-content {
        @apply text-xs md:text-sm text-ao-mid-blue-600 dark:text-slate-400 p-3 md:p-5;
    }
    .cc__heading-line {
        @apply relative w-full;
    }
    .cc__heading-line .cc__h3 {
        @apply inline bg-ao-mid-blue-200 dark:bg-slate-900 pr-4;
    }
    .cc__heading-line:after {
        @apply h-[1px] absolute top-1/2 right-0 w-full bg-ao-mid-blue-300 dark:bg-slate-700 content-[''] -z-10;
    }
    
    
}