@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        @apply font-inter min-h-screen text-ao-mid-blue-700 dark:text-slate-400 bg-ao-mid-blue-200 dark:bg-slate-900 transition-colors antialiased;
    }

    @font-face {
        font-family: "Inter";
        src: url("@/assets/fonts/Inter.var.woff2") format("woff2 supports variations"),
             url("@/assets/fonts/Inter.var.woff2") format("woff2-variations");
        font-weight: 100 900;
    }

    .system-content {
        @apply w-full md:ml-72;
    }
    .system-heading {
        @apply text-ao-mid-blue-700 dark:text-slate-200 leading-tight font-bold text-2xl mt-6 mb-1 md:mt-0;
    }
    .system-heading:not(:first-of-type) {
        @apply border-t border-ao-mid-blue-300 dark:border-slate-800 pt-8;
    }
    .system-content > p {
        @apply text-ao-mid-blue-600 dark:text-slate-400 mb-5;
    }
    .system-content > p a {
        @apply font-bold underline decoration-2 underline-offset-4 text-ao-mid-blue-700 dark:text-slate-200 transition-all;
    }
    .system-content > p a:hover {
        @apply text-ao-light-blue;
    }
    .system-panel {
        @apply bg-white dark:bg-slate-800 shadow-md rounded-lg mb-12 p-4 sm:p-6 lg:p-8;
    }
    
}